* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #1A1A40;
  background-image: url(images/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-div {
  width: 50rem;
  height: 30rem;
  border: 1px solid black;
  border-radius: 2px;
  padding: 1rem;
  background-color: #000;
  filter: opacity(80%);
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.counter-div > * {
  margin: 3rem 0;
}

.count {
  font-size: 4rem;
  margin: 12px 0 12px 0;
}

button.increment {
  border: 2px solid black;
  padding: 10px;
  /* background: green; */
}
button.increment:hover{
  padding: 12px;
}

button.reset {
  border: 2px solid black;
  padding: 10px;
}
button.decrement {
  border: 2px solid black;
  padding: 10px;
}
