html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: #004D40;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #004D40;
  color: #eaeaea;
}

.operation-expression {
  width: 100%;
  font-size: 3rem;
  height: 50px;
  border: none;
  background-color: #004D40;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  /* border: solid 1px #ccc; */
  border-top: solid 1px #fff;
  border-bottom: solid 0px #fff;
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
}

.final-score {
  width: 100%;
  font-size: 3rem;
  height: 50px;
  border: none;
  background-color: #004D40;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  /* border: solid 1px #ccc; */
  border-top: solid 0px #fff;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: #eaeaea;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #00695C;
}

.operator {
  color: #eaeaea;
}

.all-clear {
  background-color: #D50000;
  border-color: #D50000;
  /* color: #fff; */
}

.all-clear:hover {
  background-color: #d60e0e;
}

.equal-sign {
  background-color: #004D40;
  border-color: #47c4b5;
  color: #fff;
  height: 100%;
  grid-area: 2/ 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #00695C;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}