body{
  background: #007052;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(223, 18, 18, 0.1);
  padding: 100px;
}

label{
 font-family: sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: .8em;
  color: #FFF;
}

input[type=text]{
  display: inline-block;
  border: none;
  text-align: left;
  box-shadow: 3px 2px #007052;
  padding: 10px;
  width: 350px;
  margin: 10px 0;
  background: transparent;
  color: #FFF;
}

input[type=text]:focus{
  background: none;
  border: none;
  color: #fff;
  background: #007052;
}

button{
  background: transparent;
  color: #FFF;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: 2px solid #FFF;
}

button:hover{
  background: transparent;
  border: 2px solid rgb(55, 55, 55);
}

div > .output {
  color: rgb(255, 255, 255);
  border: 1px solid #414040;
  background: #013c2c;
  height: 5em;
  text-align: center;
  margin: auto;
}
.err{
color: red;
font-size: 15px;
}
.err1{
  color: red;
  font-size: 15px;
  }
